In [4]:
# NumPy and Pandas Assignment
# Complete the following tasks by filling in the code where indicated.
# Ensure your notebook is well-documented with markdown cells explaining your code and result.

import numpy as np
import pandas as pd

# Task 1: NumPy Basics

### Array Creation
#### 1. Create an array of 10 zeros but set the fifth element to 1.

In [72]:
# solution
# Create an array of 10 zeros
my_array = np.zeros(10)

# Set the fifth element (index 4) to 1
my_array[4] = 1

print(my_array)

[0. 0. 0. 0. 1. 0. 0. 0. 0. 0.]

### 2. Create a 4x4 matrix with values ranging from 0 to 15.

In [32]:
# solution
# Create a 4x4 matrix with values ranging from 0 to 15
my_matrix = np.arange(16).reshape(4, 4)

print(my_matrix)

[[ 0  1  2  3]
 [ 4  5  6  7]
 [ 8  9 10 11]
 [12 13 14 15]]

### Array Operations

#### 3. Create two NumPy arrays: Perform element-wise addition, subtraction, multiplication, and division.
#### arr1: array([[41, 30, 10], [ 6, 35, 23], [23,  9, 10]])
#### arr2: array([[4, 29,  2], [5, 13,  3], [24, 16,  7]])

In [30]:
# solution
# Define the two arrays
my_arr1 = np.array([[41, 30, 10], [6, 35, 23], [23, 9, 10]])
my_arr2 = np.array([[4, 29, 2], [5, 13, 3], [24, 16, 7]])

# addition: arr1 + arr2
addition = my_arr1 + my_arr2

# subtraction: arr1 - arr2 
subtraction = my_arr1 - my_arr2

# division: arr1 / arr2
division = my_arr1 / my_arr2

# multiplication: arr1 * arr2
multiplication = my_arr1 * my_arr2

# Print the results
print("Element-wise Addition:\n", addition)
print("\nElement-wise Subtraction:\n", subtraction)
print("\nElement-wise Multiplication:\n", multiplication)
print("\nElement-wise Division:\n", division)

Element-wise Addition:
 [[45 59 12]
 [11 48 26]
 [47 25 17]]

Element-wise Subtraction:
 [[37  1  8]
 [ 1 22 20]
 [-1 -7  3]]

Element-wise Multiplication:
 [[164 870  20]
 [ 30 455  69]
 [552 144  70]]

Element-wise Division:
 [[10.25        1.03448276  5.        ]
 [ 1.2         2.69230769  7.66666667]
 [ 0.95833333  0.5625      1.42857143]]

### Array Slicing
#### 4. Given the array: 
#### arr = np.array([10, 20, 30, 40, 50, 60, 70, 80, 90, 100])
#### Extract elements from index 2 to 6.

In [28]:
# solution
# Initialize array
arr_toslice = np.array([10, 20, 30, 40, 50, 60, 70, 80, 90, 100])

# Slice and extract elements from index 2 to 6 (inclusive of 2, exclusive of 7)
sliced_arr = arr_toslice[2:7]

print(sliced_arr)

[30 40 50 60 70]

### Using NumPy Methods
#### 5. Convert the array below to a 3Ã—3 NumPy array.
#### array([[15, 18, 20], [15, 30, 8], [25, 30, 60]])
#### Find the mean, sum, and maximum value.

In [26]:
# solution

# NB: round the mean to two decimal places
# Create a normal Python list (2D)
my_normalArray = [[15, 18, 20], [15, 30, 8], [25, 30, 60]]

# Convert the list to a NumPy array
numpy_arr = np.array(my_normalArray)

# Find the mean (rounded to two decimal places)
mean_value = np.mean(numpy_arr).round(2)

# Find the sum
sum_value = np.sum(numpy_arr)

# Find the maximum value
max_value = np.max(numpy_arr)

# Print the results
print(f"Mean: {mean_value}")
print(f"Sum: {sum_value}")
print(f"Maximum Value: {max_value}")

Mean: 24.56
Sum: 221
Maximum Value: 60

# Task 2: Pandas Basics

### Creating a Pandas Series
#### 1. Create a Pandas Series from the list [10, 20, 30, 40, 50] with index labels 'a', 'b', 'c', 'd', 'e'.

In [42]:
# solution
# Create a Pandas Series from the list with custom index labels
my_data = [10, 20, 30, 40, 50]
my_indexLabels = ['a', 'b', 'c', 'd', 'e']
series = pd.Series(my_data, index=my_indexLabels)

# Print the Series
print(series)

a    10
b    20
c    30
d    40
e    50
dtype: int64

### Reading a CSV File
#### 2. Read a CSV file named "data.csv" into a Pandas DataFrame. The CSV file has the following columns: "Name", "Age", "Salary".

In [6]:
# solution
# Define the file path
dataFilePath = './data/data.csv'

# Read the CSV file into a DataFrame
df = pd.read_csv(dataFilePath)

# Print the DataFrame to check the contents
print(df)

       Name  Age  Salary  Score
0     Alice   29   73193  73193
1       Bob   53   85398  85398
2   Charlie   36   47162  47162
3     David   22   65853  65853
4       Eve   24   36168  36168
5     Frank   58   69657  69657
6     Grace   41   85202  85202
7    Hannah   38   62421  62421
8     Isaac   50   74641  74641
9      Jack   47   38963  38963
10    Karen   34   32136  32136
11      Leo   49   41874  41874
12     Mona   56   34070  34070
13     Nina   49   91734  91734
14    Oscar   30   89539  89539
15     Paul   23   78720  78720
16    Quinn   31   54424  54424
17   Rachel   54   59900  59900
18    Steve   36   32163  32163
19     Tina   56   52054  52054

### Slicing a DataFrame
#### 3. From the DataFrame created in Exercise 2, select only the first three rows.

In [46]:
#Solution
# Define the file path
dataFilePath = './data/data.csv'

# Read the CSV file into a DataFrame
df = pd.read_csv(dataFilePath)

# Select the first three rows using .head() method
first_three_rows = df.head(3) ## Alternatively, we can use slicing: by statement first_three_rows = df[:3]

# Print the first three rows
print(first_three_rows)

      Name  Age  Salary  Score
0    Alice   29   73193  73193
1      Bob   53   85398  85398
2  Charlie   36   47162  47162

### Manipulating a DataFrame - Adding a Column
#### 4. Add a new column named "Tax" to the DataFrame from Exercise 2. The tax should be calculated as 10% of the "Salary" column.

In [48]:
# solution
# Step 1: # Define the file path
dataFilePath = './data/data.csv'

# Step 2: Read the CSV file into a DataFrame
df = pd.read_csv(dataFilePath)

# Step 3: Add a new column "Tax" calculated as 10% of the "Salary" column
df['Tax'] = df['Salary'] * 0.10

# Print the updated DataFrame with the new "Tax" column
print(df)

       Name  Age  Salary  Score     Tax
0     Alice   29   73193  73193  7319.3
1       Bob   53   85398  85398  8539.8
2   Charlie   36   47162  47162  4716.2
3     David   22   65853  65853  6585.3
4       Eve   24   36168  36168  3616.8
5     Frank   58   69657  69657  6965.7
6     Grace   41   85202  85202  8520.2
7    Hannah   38   62421  62421  6242.1
8     Isaac   50   74641  74641  7464.1
9      Jack   47   38963  38963  3896.3
10    Karen   34   32136  32136  3213.6
11      Leo   49   41874  41874  4187.4
12     Mona   56   34070  34070  3407.0
13     Nina   49   91734  91734  9173.4
14    Oscar   30   89539  89539  8953.9
15     Paul   23   78720  78720  7872.0
16    Quinn   31   54424  54424  5442.4
17   Rachel   54   59900  59900  5990.0
18    Steve   36   32163  32163  3216.3
19     Tina   56   52054  52054  5205.4

#### Filter the dataframe by the column "age" whereby the age is above 36 years

In [50]:
# solution
# Step 1: # Define the file path
dataFilePath = './data/data.csv'

# Step 2: Read the CSV file into a DataFrame
df = pd.read_csv(dataFilePath)

# Step 3: Add a new column "Tax" calculated as 10% of the "Salary" column
df['Tax'] = df['Salary'] * 0.10

# Step 4: Filter the DataFrame by "Age" > 36
filtered_df = df[df['Age'] > 36]

# Print the filtered DataFrame
print(filtered_df)

      Name  Age  Salary  Score     Tax
1      Bob   53   85398  85398  8539.8
5    Frank   58   69657  69657  6965.7
6    Grace   41   85202  85202  8520.2
7   Hannah   38   62421  62421  6242.1
8    Isaac   50   74641  74641  7464.1
9     Jack   47   38963  38963  3896.3
11     Leo   49   41874  41874  4187.4
12    Mona   56   34070  34070  3407.0
13    Nina   49   91734  91734  9173.4
17  Rachel   54   59900  59900  5990.0
19    Tina   56   52054  52054  5205.4

# Task 3: Data Analysis with Pandas

### Aggregation - Compute Total and Mean Sales
#### 1. Given a dataset of sales transactions, compute the total and mean sales per region.

In [18]:
# Sample Data
sales_data = pd.DataFrame({
    "Region": ["North", "South", "North", "West", "South", "West"],
    "Sales": [1000, 1500, 1200, 1800, 1300, 1700]
})
sales_data.head()

  Region  Sales
0  North   1000
1  South   1500
2  North   1200
3   West   1800
4  South   1300

In [52]:
# solution
# Sample Data
sales_data = pd.DataFrame({
    "Region": ["North", "South", "North", "West", "South", "West"],
    "Sales": [1000, 1500, 1200, 1800, 1300, 1700]
})
# Compute the total and mean sales per region
sales_summary = sales_data.groupby('Region')['Sales'].agg(['sum', 'mean'])

# Print the result
print(sales_summary)

         sum    mean
Region
North   2200  1100.0
South   2800  1400.0
West    3500  1750.0

### Merging - Combine Customer and Order Data
#### 2. Merge customers and orders data based on CustomerID.

In [68]:
customers = pd.DataFrame({
    "CustomerID": [1, 2, 3, 4],
    "CustomerName": ["Alice", "Bob", "Charlie", "David"]
})

orders = pd.DataFrame({
    "OrderID": [101, 102, 103, 104],
    "CustomerID": [1, 2, 2, 4],
    "Amount": [250, 400, 600, 150]
})

print(customers.head(2), orders.head(2))

(   CustomerID CustomerName
 0           1        Alice
 1           2          Bob,
    OrderID  CustomerID  Amount
 0      101           1     250
 1      102           2     400)

In [54]:
# solution
# Customers DataFrame
customers = pd.DataFrame({
    "CustomerID": [1, 2, 3, 4],
    "CustomerName": ["Alice", "Bob", "Charlie", "David"]
})

# Orders DataFrame
orders = pd.DataFrame({
    "OrderID": [101, 102, 103, 104],
    "CustomerID": [1, 2, 2, 4],
    "Amount": [250, 400, 600, 150]
})

# Merge the customers and orders DataFrames on CustomerID
merged_data = pd.merge(customers, orders, on="CustomerID", how="left")

# Print the merged DataFrame
print(merged_data)

   CustomerID CustomerName  OrderID  Amount
0           1        Alice    101.0   250.0
1           2          Bob    102.0   400.0
2           2          Bob    103.0   600.0
3           3      Charlie      NaN     NaN
4           4        David    104.0   150.0

### Joining - Left Join Employee Data
#### 4. Perform a left join between employees and departments on DeptID.

In [60]:
# NB: No test for this. Just an exercise for you to play around with
employees = pd.DataFrame({
    "EmpID": [101, 102, 103, 104],
    "EmpName": ["John", "Jane", "Alice", "Bob"],
    "DeptID": [1, 2, 2, 3]
})

departments = pd.DataFrame({
    "DeptID": [1, 2],
    "DeptName": ["HR", "Finance"]
})

print(employees.head(2), departments.head(2))

   EmpID EmpName  DeptID
0    101    John       1
1    102    Jane       2

In [56]:
# solution
# Employees DataFrame
employees = pd.DataFrame({
    "EmpID": [101, 102, 103, 104],
    "EmpName": ["John", "Jane", "Alice", "Bob"],
    "DeptID": [1, 2, 2, 3]
})

# Departments DataFrame
departments = pd.DataFrame({
    "DeptID": [1, 2],
    "DeptName": ["HR", "Finance"]
})

# Perform a left join between employees and departments on DeptID
merged_data = pd.merge(employees, departments, on="DeptID", how="left")

# Print the merged DataFrame
print(merged_data)

   EmpID EmpName  DeptID DeptName
0    101    John       1       HR
1    102    Jane       2  Finance
2    103   Alice       2  Finance
3    104     Bob       3      NaN

### Pivot Table - Summarize Sales Data
#### 4. Create a pivot table showing total sales for each Region and Product.

In [35]:
sales_pivot_data = pd.DataFrame({
    "Region": ["North", "North", "South", "South", "West", "West"],
    "Product": ["A", "B", "A", "B", "A", "B"],
    "Sales": [200, 300, 150, 400, 250, 500]
})

sales_pivot_data.head(2)

  Region Product  Sales
0  North       A    200
1  North       B    300

In [70]:
# solution
# Sales data
sales_pivot_data = pd.DataFrame({
    "Region": ["North", "North", "South", "South", "West", "West"],
    "Product": ["A", "B", "A", "B", "A", "B"],
    "Sales": [200, 300, 150, 400, 250, 500]
})

# Create a pivot table showing total sales for each Region and Product
pivot_table = sales_pivot_data.pivot_table(values='Sales', index='Region', columns='Product', aggfunc='sum', fill_value=0)

# Print the pivot table
print(pivot_table)

Product    A    B
Region
North    200  300
South    150  400
West     250  500